@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

.navbar button {
    border: 0;
    background-color: transparent;
    border-radius: 0.5rem;
}

.banner {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
}

.footer-container button {
    border: 0;
    background-color: transparent;
    border-radius: 0.5rem;
}

.navbar button:hover {
    border: 1px solid gray;
}

.article {
    margin-left: 2rem;
    margin-right: 2rem;
}

body {
    margin: 0 auto;
    font-family: 'Pretendard-Regular';
}

section {
    padding: 1rem;
}

.footer-container {
    width: 100%;
    background-color: #e9ecef;
    padding: 2rem;
}