header a {
  border: 0;
  background-color: transparent;
}

.footer a {
  border: 0;
  background-color: transparent;
  padding: 0.5rem;
}

.footer, header a:hover {
  font-weight: bold;
}

.article {
  height: 90vh;
  margin: 1rem;
}

.footer {
  width: 100%;
  background-color: #e9ecf6;
  padding: 2rem;
}

.nav-link {
  color: #142B88;
}

/* 반응형 코드 */
@media screen and (max-width: 700px) {
  .banner {
    display: none;
  }

  .carousel {
    display: none;
  }
}
