<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        KNP
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <a href="/introduce">회사 소개</a>
      <a href="/place">오시는 길</a>
      <a href="/work">하는 일</a>
      <a href="/certification">인증서 및 특허</a>
      <a href="/organization-chart">조직도</a>
    </ul>

    <div class="col-md-3 text-end">
    </div>
  </header>
</div>
<div class="article">
  <router-outlet></router-outlet>
</div>
<div class="footer-container">
  <div class="container text-center">
    <div class="row justify-content-between border-bottom border-dark-subtle" style="margin-bottom: 1rem;">
      <div class="col-1">
        <h3 style="font-weight: bold;">KNP</h3>
      </div>
      <div class="col-2 creator">
          <span class="p-2 border border-dark-subtle" style="border-radius: 0.5rem;">Made by <a
            href="https://hyeonho64.vercel.app" target="_blank">강현호</a>, <a href="https://github.com/365hy/"
                                                                            target="_blank">이도환</a></span>
      </div>
    </div>
    <span>
        <div class="footer-content">
      <a href="/introduce">회사 소개</a> •
      <a href="/place">오시는 길</a>
      <a href="/work">하는 일</a>
      <a href="/certification">인증서 및 특허</a>
      <a href="/organization-chart">조직도</a>
  </div>
    </span>
  </div>
</div>
