.footer-content a {
  border: 0;
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

header a {
  border: 0;
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;
}


.banner {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}

.footer-content a:hover {
  border: 1px solid gray;
}

header a:hover {
  border: 1px solid gray;
}

.article {
  margin-left: 2rem;
  margin-right: 2rem;
}

body {
  margin: 0 auto;
  font-family: 'Pretendard-Regular';
}

section {
  padding: 1rem;
}

.article {
  height: 90vh;
}

.footer-container {
  width: 100%;
  background-color: #e9ecef;
  padding: 2rem;
}

/* 반응형 코드 */
@media screen and (max-width: 700px) {
  .banner {
    display: none;
  }

  .carousel {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .creator {
    display: none;
  }
}
