@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url("https://cdn.jsdelivr.net/gh/hyeonho64/hyeonho64/font.css");

html, body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #142B88;
}

a:hover {
  font-weight: bold;
}
